<form action="/api/submit_calc" method="POST" >
    <div class="form-group">
      <label for="first_operand">First operand:</label>
      <input type="first_operand" name="first_operand" class="form-control" id="first_operand">
    </div>
    <div class="form-group">
      <label for="operator">Operator:</label>
      <input name="operator" type="operator" class="form-control" id="operator">
    </div>
    <div class="form-group">
        <label for="second_operand">Second operand:</label>
        <input name="second_operand" type="second_operand" class="form-control" id="second_operand">
      </div>
    
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>